* {
    border: 2px none red;
    margin: 20px;
    padding: 5px;
    background-color: lightgrey;
    display: block;
    
}
h1{
    text-align: center;
    color: red;
}
h1, p {
    font-size: 200%;
}

li {
    color: green;
    list-style-type: square;
    font-size: 100%;
}
